name: CI - Testes e Qualidade

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Testes Automatizados
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: pip install pytest

      - name: Rodar testes unitários
        run: pytest -v

      - name: Validar sintaxe
        run: python -m compileall .
# teste